.main{
display: flex;
justify-content: center;
    
}



.main button {
    padding: 10px 20px;
    height: 35px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    /* flex-shrink: 0; */
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  h2 {
    font-size: 48px;
    margin-top: 105px;
    position: relative;
    right: 105px;

  }
  
  p {
    font-size: 24px;
    margin-top: 50px;
    position: relative;
    right: 165px;

  }
  
  #save {
    font-weight: bold;
  }
  